<script>
    $(function () {
        var form,

        // From http://www.regextester.com/22
                ipRegex = /^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$/,
                ip = $("#ip"),
                port = $("#port"),
                allFields = $([]).add(ip).add(port),
                tips = $(".validateTips");

        function updateTips(t) {
            tips
                    .text(t)
                    .addClass("ui-state-highlight");
            setTimeout(function () {
                tips.removeClass("ui-state-highlight", 1500);
            }, 500);
        }

        function checkLength(o, n, min, max) {
            if (o.val().length > max || o.val().length < min) {
                o.addClass("ui-state-error");
                updateTips("Length of " + n + " must be between " +
                        min + " and " + max + ".");
                return false;
            } else {
                return true;
            }
        }

        function checkRegexp(o, regexp, n) {
            if (!( regexp.test(o.val()) )) {
                o.addClass("ui-state-error");
                updateTips(n);
                return false;
            } else {
                return true;
            }
        }

        function addHost() {
            var valid = true;
            allFields.removeClass("ui-state-error");

            valid = valid && checkLength(ip, "IPv4", 7, 15);
            valid = valid && checkLength(port, "port number", 2, 5);

            valid = valid && checkRegexp(ip, ipRegex, "IPv4 only, four octets written in decimal number, ranging from 0 to 255, separated by periods.");
            valid = valid && checkRegexp(port, /^[0-9]+$/, "From 2 to 5 digits, eg. 8080");

            return valid;
        }

        $("#addHost").submit(function(event){
            if (addHost()) {
                return;
            }
            event.preventDefault()
        });

    });
</script>
<div class="ui-widget-content" title="Add new Host">
    <p class="title ui-widget ui-widget-header">Add a new Host</p>

    <form method="post" action="/cgi-bin/webserver.py" id="addHost">
        <label for="ip">IP</label>
        <input type="text" name="ip" id="ip" class="text ui-widget-content ui-corner-all">
        <label for="ip">Port</label>
        <input type="text" name="port" id="port" class="text ui-widget-content ui-corner-all">
        <input type="submit" value="Add Host" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
    </form>
    <p class="validateTips">*All fields are required.</p>
</div>